.forget-password{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    min-width: 1200px;
}

.forget-password .phone-input-container{
    box-sizing: border-box;
    width: 400px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-right: 4px;
    transition: all .4s;
}
.phoneAndEmail{
    margin-left: 50%;
}

.forget-password input{
  flex: 1;
  box-sizing: border-box;
  width: 400px;
  height: 48px;
  line-height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  font-size: 16px;
  padding: 0 16px;
  outline: none;
  transition: border 0.4s;
}
.forget-password input:hover{
    border: 1px solid black;
    transition: border 0.4s;
}

.forget-password #forgetSpan{
    position:absolute;
    margin-left: 277px;
}
.forget-password #forgetSpan #button{
    float: right;
    padding: 0px;
    height: 40px;
    background: #e4e4e4;
    width: 115px;
    cursor:pointer;
    transition:border .4s;
}

.forget-password button {
  width: 400px;
  height: 48px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: #56cb8f;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 16px;
  color: #fff;
  cursor: pointer;
    transition: background-color 0.4s;
}
.forget-password button:hover{
    background-color: #34ab6d;
    transition: background-color 0.4s;
}


