body {
    background: url("/images/community/community-bg.png") #f1f1f1 no-repeat;
    background-size: 100%;
}

a:hover {
    text-decoration: none;
}

.community-info-top {
    margin-top: 180px;
    margin-bottom: 30px;
}

.community-info-top-div {
    display: flex;
    margin: 0 1.2% 0 1.2%;
    width: 97.6%;
}

.community-info-top-div-img {
    flex: 1;
    margin-left: 10%;
}

.community-info-top-div-img > img {
    padding: 3px;
    width: 100%;
    border: silver 1px solid;
    background-color: #fff;
}

.community-info-top-div-text {
    display: flex;
    align-items: flex-end;
    flex: 5;
    margin-left: 2%;
}

.community-info-top-div-text-one {
    flex: 4;
}

.community-info-top-div-text-one-one {
    margin-bottom: 12px;
}

.community-info-top-div-text-one-one > span {
    font-family: "微软雅黑 Light";
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 6px;
}

.community-info-top-div-text-one-one > a {
    position: relative;
    top: -3px;
    margin-left: 3%;
    padding: 2px 10px;
    letter-spacing: 1px;
    color: #da7c00;
    border: #da7c00 2px solid;
    border-radius: 50px;
    cursor: pointer;
}

.community-info-top-div-text-one-one > a:hover {
    color: #a05500;
    border: #a05500 2px solid;
}

.community-info-top-div-text-one-two {
    margin-right: 5%;
    margin-bottom: 4px;
    word-wrap: break-word;
    color: #a0a0a0;
}

.community-info-top-div-text-two {
    flex: 2;
}

.community-info-top-div-text-two > div img {
    width: 20px;
}

.community-info-top-div-text-two > div span {
    position: relative;
    top: 1px;
    font-size: 1.2rem;
    color: #8a8a8a;
}

.community-content-one > div {
    margin-bottom: 10px;
    padding: 12px 3% 0 3%;
    border: #cfcfcf 1px solid;
    border-radius: 2px;
    background-color: #fff;
}

.community-info-content-edit {
    margin-top: 0;
    padding-left: 5.2% !important;
    padding-right: 5.2% !important;
}

.community-info-content-edit-top {
    margin-top: 4px;
    font-family: "Droid Sans";
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #284292;
}

.community-info-content-edit-text {
    margin: 8px 0 2px 0;
    padding: 5px 1%;
    min-height: 80px;
    line-height: 20px;
    border: #c3c3c3 1px solid;
    box-shadow: 0 0 3px #cacaca inset;
    outline: none;
}

.community-info-content-edit-confirm {

}

.community-info-content-edit-confirm-one {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-left: 28px;
    height: 30px;
    color: #7b7b7b;
    background: url("/images/community/img-1.png") no-repeat -3px 0;
    background-size: 31px;
}

.community-info-content-edit-confirm-one:hover {
    background: url("/images/community/img-2.png") no-repeat -3px 0;
    background-size: 31px;
    color: #4d4d4d;
}

.community-info-content-edit-confirm-one > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
}

.community-info-content-edit-confirm-one > div {
    display: none;
    position: absolute;
    top: 38px;
    left: -20px;
    padding: 2px;
    width: 120px;
    height: 120px;
    border: #cbcbcb 1px solid;
    border-radius: 4px;
    background-color: #ffffff;
}

.community-info-content-edit-confirm-one > div > i {
    position: absolute;
    top: -17px;
    left: 30%;
}

.community-info-content-edit-confirm-one > div > i > img {
    width: 16px;
}

.community-info-content-edit-confirm-one > div > div {
    width: 114px;
    height: 114px;
    border-radius: 4px;
}

.community-info-content-edit-confirm-one > div > div > div {
    font-size: 1.6rem;
    letter-spacing: 5px;
    color: #464646;
    text-align: center;
    line-height: 114px;
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
}

.community-info-content-edit-confirm-one > div > div > div:hover {
    background-color: #888888;
    opacity: .5;
}

.community-info-content-edit-confirm-two{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-left: 28px;
    height: 30px;
    color: #7b7b7b;
    background: url("/images/community/emoji-1.png") no-repeat 3px 3px;
    background-size: 24px;
    cursor: pointer;
}

.community-info-content-edit-confirm-two:hover{
    background: url("/images/community/emoji-2.png") no-repeat 3px 3px;
    background-size: 24px;
    color: #4d4d4d;
}

.community-info-content-edit-confirm-three {
    display: block;
    float: right;
    margin-top: 6px;
    width: 80px;
    font-family: "微软雅黑 Light";
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    line-height: 24px;
    color: silver;
    border: silver 2px solid;
    border-radius: 2px;
    cursor: pointer;
}

.community-info-content-edit-confirm-three:hover {
    color: #8e8e8e;
    border: #8e8e8e 2px solid;
}

.community-info-content-content {
    margin-bottom: 20px !important;
    padding-left: 5.2% !important;
    padding-right: 5.2% !important;
}

.community-info-content-content-top {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: silver 1px solid;
    font-size: 2.2rem;
}

.community-info-content-content-unit {
    padding: 10px 2% 0 2%;
}

.community-info-content-content-unit-img {
    margin-bottom: 16px;
    width: 26%;
    border: silver 1px solid;
    cursor: pointer;
}

.community-info-content-content-unit-img > img {
    width: 100%;
}

.community-info-content-content-unit-text {
    margin: 0 4% 10px 0;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 1px;
}

.community-info-content-content-unit-message {

}

.community-info-content-content-unit-message > img {
    width: 26px;
    height: 26px;
    border: silver 1px solid;
    border-radius: 13px;
}

.community-info-content-content-unit-message > a {
    position: relative;
    top: 2px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #575757;
}

.community-info-content-content-unit-message > a:hover {
    color: #d77600;
}


.community-info-content-content-unit-message > span {
    position: relative;
    top: 3px;
    margin-left: 3%;
    font-size: 1.2rem;
    color: #7a7a7a;
}

.community-info-content-content-unit-message > div {
    position: relative;
    top: 6px;
    margin-right: 6%;
    float: right;
}

.community-info-content-content-unit-message > div > a {
    font-size: 1rem;
    color: #adadad;
}

.community-info-content-content-unit-message > div > a:hover{
    color: #6b6b6b;
}

.community-info-content-content-unit-message > div > a > img {
    position: relative;
    top: -3px;
    width: 20px;
}

.community-info-content-content-unit-message > div > a > span {
    margin-left: 3px;
    position: relative;
}

.community-info-content-content-unit-message-special {
    margin-left: 5px;
    position: relative;
    top: -2px !important;
    width: 12px !important;
}

.community-info-content-content-unit-comment {
    margin-top: 12px;
}

.community-info-content-content-unit-comment-unit {
    margin: 2px 6% 0 20%;
}

.community-info-content-content-unit-comment-unit img {
    width: 20px;
    height: 20px;
    border: silver 1px solid;
    border-radius: 10px;
}

.community-info-content-content-unit-comment-unit a {
    font-size: 1rem;
    color: #8d8d8d;
}

.community-info-content-content-unit-comment-unit a:hover{
    color: #007edb;
}

.community-info-content-content-unit-comment-unit-one {

}

.community-info-content-content-unit-comment-unit-one > i {
    position: relative;
    left: -24px;
}

.community-info-content-content-unit-comment-unit-one > i > em {
    margin-left: 5px;
    font-size: 1rem;
    color: #6b6b6b;
}

.community-info-content-content-unit-comment-unit-one > span{
    font-size: 1.2rem;
}

.community-info-content-content-unit-comment-unit-two {

}

.community-info-content-content-unit-comment-unit-two > span{
    font-size: 1rem;
    color: #6b6b6b;
}

.community-info-content-content-unit-comment-unit-two > a{
    position: relative;
    top: 2px;
    float: right;
}

.community-info-content-content-unit-comment-page{
    display: flex;
    margin: 10px 6% 0 17%;
}

.community-info-content-content-unit-comment-page-one {
    flex: 1;
}

.community-info-content-content-unit-comment-page-one > a{
    padding: 2px 8px;
    font-size: 1rem;
    color: silver;
    border: silver 2px solid;
    border-radius: 5px;
}

.community-info-content-content-unit-comment-page-one > a:hover{
    color: #656565;
    border: #656565 2px solid;
}

.community-info-content-content-unit-comment-hide{
    display: none;
}

.community-info-content-content-unit-comment-level{
    margin: 10px 6% 0 40%;
    padding-top: 3px;
    border-top: silver 1px solid;
}

.community-info-content-content-unit-comment-edit{
    display: flex;
    margin: 4px 6% 0 26%;
}

.community-info-content-content-unit-comment-edit-one{
    flex: 6;
    padding: 0 3%;
    font-size: 1.3rem;
    height: 28px;
    line-height: 28px;
    border: silver 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 2px silver inset;
    outline: none;
}

.community-info-content-content-unit-comment-edit-two{
    flex: 1;
}

.community-info-content-content-unit-comment-edit-two > a{
    padding: 2px 8px;
    text-align: center;
    color: silver;
    border: silver 2px solid;
    border-radius: 3px;
    float: right;
}

.community-info-content-content-unit-comment-edit-two > a:hover{
    color: #595959;
    border: #595959 2px solid;
}

.community-info-content-content-unit-level{
    margin: 22px 0 4px 0;
    width: 70%;
    border-top: silver 1px solid;
}